<!-- <h1>Hello World</h1>
<h1>{{greeting}}</h1>
<h2>{{title}}</h2>
<input type="text" [(ngModel)]="title" [ngClass]="blue" [ngStyle]="red" [style.background-color]="color" />
<input type="text" [value]="title"/>
<div>
  <app-helloworld></app-helloworld>
</div> -->

<h1>Liked Author List {{this.Likedlist.length}}</h1>
Enter Author First Name <input type="text" [(ngModel)]="firstname"/>

Enter Author LAst Name <input type="text" [(ngModel)]="lastname"/>
<button (click)="saveme()" >Save me</button>
<app-author-list (likedevent)="likedinfo($event)" [AuthorInfo]=authorList ></app-author-list>

